.xg-combobox{
	display : inline-block;
	padding: 2px 2px 2px 2px;
}
.xg-combo-list{
    width: 100%;
    height: 100px;
    border: solid 0.5px;
    padding-bottom: 2px;
    padding-left: 1px;
    position: absolute;
}
.xg-combo-input{
	float:left;
	width:85%;
	height:90%;
	border:none;
	background: aliceblue;
}
.xg-combo-inputSection{
	border:solid 1px;
	height:100%;
}
.xg-combo-listbutton{
    float: left;
    width: 10%;
    height: 100%;
    background-image: url(./icon-down.png);
    margin-top: 2%;
}
.xg-combo-listbutton:hover{
	cursor: pointer;
}
.xg-combo-items{
	background : white;
    margin: 1px 2px 2px 0;
    padding: 0 0 0 0;
    height: 100%;
    overflow: auto;
	/* -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	-webkit-padding-start : 0px; 크롬에서의 ul의 패딩 위치 조정 */
}
.xg-combo-item{
	list-style : none;
	font-size: 15px;
	min-width: 100%;
}
.xg-combo-item-selected{
	background-color: #F5ECCE;
}

.xg-combo-item:hover{
	background-color: #D8F6CE;
	cursor: pointer;
}
